# fly.toml app configuration file generated for robocop-backend-app on 2025-01-22T13:19:13+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "robocop-backend-app"
primary_region = "nrt"

[build]
  builder = "paketobuildpacks/builder:base"
  buildpacks = ["gcr.io/paketo-buildpacks/python"]

[build.args]
  BP_APT_PKGS = "libgl1-mesa-glx libglib2.0-0"

[deploy]
  strategy = 'immediate'

[env]
  HOST = '0.0.0.0'
  PORT = "8000"
  STORAGE_PATH = "/data/storage"
  MONGODB_URL = "mongodb+srv://power:FMX7HnqTPV7trmPU@cluster0.5idlh.mongodb.net/?retryWrites=true&w=majority"
  DATABASE_NAME = "robocop_db"

[mounts]
  source = "robocop_storage"
  destination = "/data"

[processes]
  app = 'python -m uvicorn app.main:app --host 0.0.0.0 --port 8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services]]
  protocol = 'tcp'
  internal_port = 8000
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
